*:before, *:after,
html {
  box-sizing: border-box;
  box-sizing: inherit;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.grid-container {
  max-width: 1000px;
  margin: 0 auto;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
}

.grid-col {
  margin: 0 10px;
  width: calc(100% - 10px);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-row > .grid-col-tablet-4 {
    width: calc(25% - 20px);
  }
  .grid-row > .grid-col-tablet-3 {
    width: calc(33.3333333333% - 20px);
  }
  .grid-row > .grid-col-tablet-2 {
    width: calc(50% - 20px);
  }
}
@media screen and (min-width: 1025px) {
  .grid-row > .grid-col-desktop-4 {
    width: calc(25% - 20px);
  }
  .grid-row > .grid-col-desktop-3 {
    width: calc(33.3333333333% - 20px);
  }
}
header {
  font-family: "Roboto";
  font-size: 15px;
  text-align: center;
}

.top-location {
  padding: 10px 0;
  background-color: lightgrey;
}

/*fonts here*/
/*discover button*/
.discover-button {
  background-image: linear-gradient(to top left, #9356dc, #ff79da);
  color: white;
  padding: 16px, 35px;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 200px;
  border-radius: 20px;
  font-size: 16px;
}

/*restaurant choice bar*/
.choice {
  border: none;
  border-radius: 10px;
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #f5f5f5;
}

.restchoice__circle {
  margin: auto 0;
  position: absolute;
  top: 0;
  left: -20px;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  width: 15px;
  height: 15px;
  padding: 10px;
  background: #9356dc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restchoice__content {
  display: flex;
  padding: 20px 0;
  align-items: center;
}

.restchoice__icon,
.restchoice__text {
  padding-left: 30px;
}

.create {
  border: none;
  border-radius: 10px;
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #f5f5f5;
}

.create__circle {
  margin: auto 0;
  position: absolute;
  top: 0;
  left: -20px;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  width: 15px;
  height: 15px;
  padding: 10px;
  background: #9356dc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create__content {
  display: flex;
  padding: 20px 0;
  align-items: center;
}

.create__icon,
.create__text {
  padding-left: 30px;
}

.goenjoy {
  border: none;
  border-radius: 10px;
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #f5f5f5;
}

.goenjoy:hover {
  background-color: #EE82EE;
  cursor: pointer;
}

.goenjoy__circle {
  margin: auto 0;
  position: absolute;
  top: 0;
  left: -20px;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  width: 15px;
  height: 15px;
  padding: 10px;
  background: #9356dc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goenjoy__content {
  display: flex;
  padding: 20px 0;
  align-items: center;
}

.goenjoy__icon,
.goenjoy__text {
  padding-left: 30px;
}

/*go enjoy bar hover colour*/
.goenjoy_icon:hover {
  background-color: #f7f0f7 cursor pointer;
}

.fullplate {
  background: lightgrey;
  position: relative;
  border-radius: 20px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.label1 {
  color: #005b6e;
  background-color: #99E2D0;
  border: 1px solid #99E2D0;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
  width: 50px;
  position: absolute;
  top: 20px;
  right: 30px;
}

.fa-heart {
  position: absolute;
  bottom: 20px;
  right: 30px;
}/*# sourceMappingURL=main.css.map */