.wrapper {
  position: relative;
}

.home-loader {
  animation: hideAnimation 0s ease-in 7s;
  animation-fill-mode: forwards;
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1;
  color: black;
  text-align: center;
  padding: 30px;
  align-items: center;
  background-color: #1D1F20;
  display: flex;
  justify-content: center;
}



@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}



.loader  {
  animation: rotate 1s infinite;  
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {   
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;  
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;  
  background-color: $primary-color;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite; 
  background-color: $secondary-color;
  box-shadow: 30px 0 0 $tertiary-color;
}

@keyframes rotate {
  0% { 
    transform: rotate(0deg) scale(0.8); 
  }
  50% { 
    transform: rotate(360deg) scale(1.2); 
  }
  100% { 
    transform: rotate(720deg) scale(0.8); 
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 $secondary-color;
  }
  50% {
    box-shadow: 0 0 0 $secondary-color;
    margin-bottom: 0;
    transform: translate(15px,15px);
  }
  100% {
    box-shadow: 30px 0 0 $secondary-color;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 $tertiary-color;
  }
  50% {
    box-shadow: 0 0 0 $tertiary-color;
    margin-top: -20px;
    transform: translate(15px,15px);
  }
  100% {
    box-shadow: 30px 0 0 $tertiary-color;
    margin-top: 0;
  }
}

header {
  font-family: 'Roboto';
  font-size: 15px;
  text-align: center;
}

.home-logo {
  padding: 20px 0;
}

.top-location {
  padding: 20px 0;
  background-color: lightgrey;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.3);
  font-size: 20px;
}

/*discover button*/
.discover-button {
  background-image: linear-gradient(to top left, #9356dc, #ff79da);
  color: white;
  padding: 16px, 35px;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 200px;
  border-radius: 20px;
  font-size: 16px;
}

/*restaurant choice bar*/
.works-section {
  margin: 40px 0;
}
.works {
  border: none;
  border-radius: 10px;
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 2px lightgrey;
}

.works:hover {
  background-color: #ee82ee;
  cursor: pointer;
}

.works:hover .works__icon {
  color: #9356dc;
}

.works__circle {
  margin: auto 0;
  position: absolute;
  top: 0;
  left: -20px;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  width: 15px;
  height: 15px;
  padding: 10px;
  background: #9356dc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.works__content {
  display: flex;
  padding: 20px 0;
  align-items: center;
}

.works__icon,
.works__text {
  padding-left: 30px;
}

/*Restaurants*/
.resturant-section a {
  text-decoration: none;
  color: #000;
}
.resturant-section a:hover img {
  outline: 2px solid #ee82ee;
}
.panel-section {
  background-color: #f1f1f1;
  padding: 40px 0;
}

.restaurant-box {
  background: #fff;
  position: relative;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 2px lightgrey;
}

.restaurant-img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  display: block;
}

.restaurant-label {
  color: #005b6e;
  background-color: #99e2d0;

  font-weight: bold;
  padding: 10px 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.restaurant-detail {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
}

.restaurant-text {
  flex-grow: 1;
}

.restaurant-text h2 {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.restaurant-text p {
  margin: 0;
}
